
<h2>Rune Page</h2>



<!-- <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<hr>
	<div uib-collapse="isCollapsed">
		<div class="well well-lg">Some content</div>
	</div> -->


<!--List of runes seperated by type  -->
<section class="select-runes col-md-4">

  <button type="button" class="btn btn-default" ng-click="runes.isCollapsed1 = !runes.isCollapsed1">Marks</button>
	<hr>
	<div uib-collapse="runes.isCollapsed1">
		<ul class="well well-lg" >
      <li ng-repeat="rune in runes.runeList" ng-if="rune.rune.type == 'red'" ng-show="rune.rune.tier == runes.selectedTier" >
        {{rune.name}}: <em>{{rune.description}}, Tier: {{rune.rune.tier}}</em>
        <img ng-src="'http://ddragon.leagueoflegends.com/cdn/6.24.1/img/rune/' + {{rune.image.full}}" alt="">
      </li>
    </ul>
	</div>
  <hr>

  <button type="button" class="btn btn-default"  ng-click="runes.isCollapsed2 = !runes.isCollapsed2">Glyphs</button>
	<hr>
	<div uib-collapse="runes.isCollapsed2">
		<ul class="well well-lg" >
      <li ng-repeat="rune in runes.runeList" ng-if="rune.rune.type == 'blue'" ng-show="rune.rune.tier == runes.selectedTier">
        {{rune.name}}: <em>{{rune.description}}, Tier: {{rune.rune.tier}}</em>
      </li>
    </ul>
	</div>
  <hr>

  <button type="button" class="btn btn-default"  ng-click="runes.isCollapsed3 = !runes.isCollapsed3">Seals</button>
	<hr>
	<div uib-collapse="runes.isCollapsed3">
		<ul class="well well-lg" >
      <li ng-repeat="rune in runes.runeList" ng-if="rune.rune.type == 'yellow'" ng-show="rune.rune.tier == runes.selectedTier">
        {{rune.name}}: <em>{{rune.description}}, Tier: {{rune.rune.tier}}</em>
      </li>
    </ul>
	</div>
  <hr>

  <button type="button" class="btn btn-default"  ng-click="runes.isCollapsed4 = !runes.isCollapsed4">Quints</button>
	<hr>
	<div uib-collapse="runes.isCollapsed4">
		<ul class="well well-lg" >
      <li ng-repeat="rune in runes.runeList" ng-if="rune.rune.type == 'black'" ng-show="rune.rune.tier == runes.selectedTier">
        {{rune.name}}: <em>{{rune.description}}, Tier: {{rune.rune.tier}}</em>
      </li>
    </ul>
	</div>
  <hr>

  <!-- determine what tier runes you want to view  -->
  <footer>
    <div>
      <input type="radio" value="1" ng-model="runes.selectedTier" >Tier 1
      <input type="radio" value="2" ng-model="runes.selectedTier" >Tier 2
      <input type="radio" value="3" ng-model="runes.selectedTier" >Tier 3
  </div>

  </footer>
</section>
<!-- List the stats added together once runes have been clicked -->

<section class="Rune_stats col-md-4">
  <div class="">
    Rune Stats: <br>

  </div>
</section>


<section class="selected-Runes col-md-4">
  <div class="">
    Selected Runes: <br>

  </div>
</section>
